# =========================
# Node
# =========================
node_modules/
dist/
build/

# Frontend build output
frontend/release/
frontend/dist/
frontend/out/

# Electron
frontend/release/win-unpacked/

# =========================
# Python
# =========================
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.py[cod]

# =========================
# Environment
# =========================
.env

# =========================
# Database & Storage
# =========================
*.db
*.sqlite
*.sqlite3
storage/
backend/storage/
*.index
*.faiss

# =========================
# AI Models
# =========================
backend/models/
backend/ai/models/
backend/embedding/models/

# =========================
# Executables
# =========================
*.exe
*.msi

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.loggit init